
<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img [src]="restaurant?.cover ? restaurant.cover : 'assets/imgs/1.jpg'" />
  </ion-thumbnail>
  <ion-label>
    <h4>{{restaurant.name}}</h4>
    <ion-text color="medium">
      <p class="pStyle">
        Italian, Mexican
      </p>
    </ion-text>
    <span>
            <ion-icon name="star"></ion-icon>
            5 .
          </span>
    25 mins . ₹100 for two
    <ion-text color="tertiary">
      <p class="distance">
        2.59 kms away
      </p>
    </ion-text>
  </ion-label>
</ion-item>

